<html lang="en">
<head>
    <% include ./ejs/headerSetting.ejs %>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/pagination.css">
</head>
<body>
    <% include ./ejs/navbar.ejs %>
    <% include ./ejs/postList.ejs %>
    <% include ./ejs/Pagination.ejs %>
    <% include ./ejs/scripts.ejs %>
</body>
</html>