<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posting</title>
</head>
<body>
    <% if (!isAuthenticated) { %>
    <script>
        alert('로그인부터 하세요 씨발\n메인으로 보내줄게');
        window.location = '/';
    </script>
    <% } else { %>
    <h1>Posting</h1>
    <form action="/board/write" method="POST">
        <p><input type="text" name="title" placeholder="title"></p>
        <p><textarea name="contents" placeholder="contents" cols="30" rows="10"></textarea></p>
        <p><input type="submit" value="작성완료"></p>
    </form>
    <% } %>
</body>
</html>