body {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
    margin-right: 0px;
    padding: 0px;
}
.nav-link {
    font-size: 1.17rem;
}
.postList {
    margin-top: 82px;
    display: flex;
    justify-content: center;
}
.posts {
    width: 85%;
    margin-top: 3rem;
}