body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
a {
    font-size: 20px;
    text-decoration: none;
}
li {
    float: left;
}
ul {
    list-style: none;
    margin-right: 0px;
    padding: 0px;
}
.navbar-right {
    margin-right: 7%;
}
.navbar-right > li {
    margin: 0px 7px;
}
.mr-auto > li {
    margin-right: 6px;
}
.postList {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.posts {
    width: 122%;
}
.navbar-brand {
    margin-left: 7%;
}
.first-nav {
    margin-left: 10px;
}
.mt-5 {
    font-size: 2rem;
    margin-left: 0.3rem;
}