<link rel="stylesheet" href="../css/navbar.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-main">
    <a class="navbar-brand" href="/">MY Board</a>
    <div class="collapse navbar-collapse first-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
        <ul class="navbar-nav  navbar-right">
            <% if (isAuthenticated) { %>
                <% if (currentUser.id === 'admin') { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, <%= currentUser.name%>
                        </a>
                        <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/members">Members</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/user/information">My Information</a>
                        <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, <%= currentUser.name%>
                        </a>
                        <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/information">My Information</a>
                        <a class="dropdown-item" href="/auth/logout">Logout</a>                        
                        </div>
                    </li>
                <% } %>
                <li class="nav-item"><a class="nav-link"href="/board/write">Posting</a></li>
            <% } else { %>
                <li class="nav-item"><a class="nav-link" href="/auth/signup">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/board/write">Posting</a></li>
            <% } %>
        </ul>
        <!-- FOR SERACH -->
        <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>