<div class="postList">
    <table class="table table-striped posts">
        <thead>
            <tr>
                <th class="title">Title</th>
                <th class="author">Author</th>
                <th class="date">Date</th>
            </tr>
        </thead>
        <tbody>
            <% if(posts == null || posts.length == 0) { %>
                <tr>
                    <td class="noData" colspan=100> There is no data to show :( </td>
                </tr>
            <% } %>
            <% posts.forEach((post) => { %>
                <tr>
                <td class="title">
                    <a class="postlist-title" href="/board/<%= post._id %>"><div><%= post.title %></div></a>
                </td>
                <td class="author">
                    <%= post.author %>
                </td>
                <td class="date">
                    <%= post.createAt.toString().replace('G', ')').substr(0, 24) %>
                </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>